@model Supplier
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form action="~/Supplier/Save" method="post">
            <input type="hidden" name="@nameof(Model.SupplierID)" value="@Model.SupplierID" />
            <div class="form-group">
                <label>Tên nhà cung cấp:</label>
                <input type="text" 
                        class="form-control" 
                        autofocus 
                        name="@nameof(Model.SupplierName)"
                        value="@Model.SupplierName">
                @Html.ValidationMessage(nameof(Model.SupplierName))
            </div>

            <div class="form-group">
                <label>Tên giao dịch:</label>
                <input type="text" class="form-control" name="@nameof(Model.ContactName)"
                       value="@Model.ContactName">
                @Html.ValidationMessage(nameof(Model.ContactName))
            </div>

            <div class="form-group">
                <label>Điện thoại:</label>
                <input type="text" class="form-control" name="@nameof(Model.Phone)"
                       value="@Model.Phone">
                @Html.ValidationMessage(nameof(Model.Phone))
            </div>

            <div class="form-group">
                <label>Email:</label>
                <input type="email" class="form-control" name="@nameof(Model.Email)"
                       value="@Model.Email">
                @Html.ValidationMessage(nameof(Model.Email))
            </div>

            <div class="form-group">
                <label>Địa chỉ:</label>
                <input type="text" class="form-control" name="@nameof(Model.Address)"
                       value="@Model.Address">
                @Html.ValidationMessage(nameof(Model.Address))
            </div>

            <div class="form-group">
                <label>Tỉnh/thành:</label>
                <select name="@nameof(Model.Province)" class="form-control">
                    <option value="">--chọn tỉnh/thành--</option>
                    @foreach (var item in SV21T1020742.BusinessLayers.CommonDataService.ListOfProvinces())
                    {
                        if (item.ProvinceName == Model.Province)
                        {
                            <option value="@item.ProvinceName" selected>@item.ProvinceName</option>
                        }
                        else
                        {
                            <option value="@item.ProvinceName">@item.ProvinceName</option>
                        }
                    }
                </select>
                @Html.ValidationMessage(nameof(Model.Province))
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Lưu dữ liệu
                </button>
                <a href="~/Supplier" class="btn btn-default">
                    Quay lại
                </a>
            </div>

        </form>
    </div>
</div>
