@model SV21T1020742.Web.Models.OrderSearchInput
@{
    ViewBag.Title = "Quản lý đơn hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <!--Form đầu vào tìm kiếm-->
        <form id="frmSearchInput" action="~/Order/Search" method="get">
            <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />

            <div class="row container-fluid">
                <div class="col-sm-2">
                    <select class="form-control" name="@nameof(Model.Status)">
                        <option value="0" selected="@(Model.Status == 0)">-- Trạng thái --</option>
                        <option value="1" selected="@(Model.Status == 1)">Đơn hàng mới (chờ duyệt)</option>
                        <option value="2" selected="@(Model.Status == 2)">Đơn hàng đã duyệt (chờ chuyển hàng)</option>
                        <option value="3" selected="@(Model.Status == 3)">Đơn hàng đang được giao</option>
                        <option value="4" selected="@(Model.Status == 4)">Đơn hàng đã hoàn tất thành công</option>
                        <option value="-1" selected="@(Model.Status == -1)">Đơn hàng bị hủy</option>
                        <option value="-2" selected="@(Model.Status == -2)">Đơn hàng bị từ chối</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="@nameof(Model.TimeRange)" value="@(Model.TimeRange)" class="form-control daterange-picker" placeholder="" />
                </div>
                <div class="col-sm-8 input-group">
                    <input type="text" name="@nameof(Model.SearchValue)"
                           class="form-control" 
                           placeholder="Tìm kiếm theo tên khách hàng hoặc tên người giao hàng"
                           value="@Model.SearchValue" autofocus>
                    <span class="input-group-btn">
                        <button type="submit" id="search-btn" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </span>
                </div>
            </div>
        </form>
        <!--hiển thị kết quả-->
        <div id="searchResult">
        </div>
       
    </div>
</div>

@section scripts {
    <script>
        function doSearch(page) {
            var searchCondition = $("#frmSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });

            var action = $("#frmSearchInput").prop("action");
            var method = $("#frmSearchInput").prop("method");

            $.ajax({
                url: action,
                type: method,
                data: searchCondition,
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });
        }

        $(document).ready(function () {
            doSearch(@Model.Page);
            $("#frmSearchInput").submit(function (e) {
                e.preventDefault();
                doSearch(1);
            })
        })

    </script>
}