@model Product
@{
}
<div class="box box-primary">

    <div class="box-header with-border ">
        <h3 class="box-title">Thông tin mặt hàng</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/Product/Save" method="post" enctype="multipart/form-data">
            <input type="hidden" name="@nameof(Model.ProductID)" value="@Model.ProductID" />
            <div class="form-group">
                <label class="control-label col-sm-2">Tên mặt hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="@nameof(Model.ProductName)"
                           value="@Model.ProductName">
                    @Html.ValidationMessage(nameof(Model.ProductName))
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" name="@nameof(Model.ProductDescription)" >@Model.ProductDescription</textarea>
                    @Html.ValidationMessage(nameof(Model.ProductDescription))
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Loại hàng:</label>
                <div class="col-sm-10">
                    <select name="CategoryID" class="form-control select2">
                        <option value="">--Chọn loại hàng--</option>
                        @foreach (var item in SV21T1020742.BusinessLayers.CommonDataService.ListOfCategories())
                        {
                            if (item.CategoryID == Model.CategoryID)
                            {
                                <option value="@item.CategoryID" name="@nameof(Model.CategoryID)" selected>@item.CategoryName</option>
                            }
                            else
                            {
                                <option value="@item.CategoryID">@item.CategoryName</option>
                            }
                        }
                    </select>
                    @Html.ValidationMessage(nameof(Model.CategoryID))
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Nhà cung cấp:</label>
                <div class="col-sm-10">
                    <select name="SupplierID" class="form-control select2">
                        <option value="">--Chọn nhà cung cấp--</option>
                        @foreach (var item in SV21T1020742.BusinessLayers.CommonDataService.ListOfSuppliers())
                        {
                            if (item.SupplierID == Model.SupplierID)
                            {
                                <option value="@item.SupplierID" name="@nameof(Model.SupplierID)" selected>@item.SupplierName</option>
                            }
                            else
                            {
                                <option value="@item.SupplierID">@item.SupplierName</option>
                            }
                        }
                    </select>
                    @Html.ValidationMessage(nameof(Model.SupplierID))
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Đơn vị tính:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="@nameof(Model.Unit)" value="@Model.Unit">
                    @Html.ValidationMessage(nameof(Model.Unit))
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Giá hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control number-separator" name="@nameof(Model.Price)" value="@Model.Price" />
                    @Html.ValidationMessage(nameof(Model.Price))
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label><input type="checkbox" value="true" name="@nameof(Model.IsSelling)" @(Model.IsSelling?"checked":"")>Hiện đang được bán</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh minh họa:</label>
                <div class="col-sm-10">
                    <input type="hidden" name="@nameof(Model.Photo)" value="@Model.Photo" />
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <img id="Photo" src="~/images/products/@(string.IsNullOrWhiteSpace(Model.Photo) ?"no_product.png":Model.Photo)" class="img img-responsive img-bordered" style="width:200px" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-default" href="~/Product">
                        Quay lại
                    </a>
                </div>
            </div>
        </form>

    </div>

</div>

@if (Model.ProductID != 0)
{
    <div class="box box-info">
        <div class="box-header with-border ">
            <h3 class="box-title">Thư viện ảnh</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-gray">
                        <th>Ảnh</th>
                        <th>Mô tả/tiêu đề</th>
                        <th>Thứ tự hiển thị</th>
                        <th>Ẩn ảnh</th>
                        <th class="text-right">
                            <a class="btn btn-xs btn-primary" href="~/Product/Photo/@Model.ProductID?method=add">
                                <i class="fa fa-plus"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in SV21T1020742.BusinessLayers.ProductDataService.ListPhotos(Model.ProductID))
                    {
                        <tr>
                            <td style="vertical-align:middle">
                                <img id="Photo" src="~/images/products/@(string.IsNullOrWhiteSpace(item.Photo) || item.IsHidden?"no_product.png":item.Photo)" class="img img-responsive img-bordered" style="width:100px" />
                            </td>
                            <td style="vertical-align:middle;">
                                @item.Description
                            </td>
                            <td style="vertical-align:middle;">@item.DisplayOrder</td>
                            <td style="vertical-align:middle;">@(item.IsHidden ? "x" : "")</td>
                            <td style="vertical-align:middle; text-align:right">
                                <a class="btn btn-xs btn-primary" href="~/Product/Photo/@Model.ProductID?method=edit&photoId=@item.PhotoID">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-xs btn-danger" href="~/Product/Photo/@Model.ProductID?method=delete&photoId=@item.PhotoID" onclick="return confirm('Xóa ảnh của mặt hàng hay không?')">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <div class="box box-info">

        <div class="box-header with-border ">
            <h3 class="box-title">Thuộc tính của mặt hàng</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="box-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-gray">
                        <th>Tên thuộc tính</th>
                        <th>Giá trị thuộc tính</th>
                        <th>Thứ tự hiển thị</th>
                        <th class="text-right">
                            <a class="btn btn-xs btn-primary" href="~/Product/Attribute/@Model.ProductID?method=add">
                                <i class="fa fa-plus"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in SV21T1020742.BusinessLayers.ProductDataService.ListAttributes(Model.ProductID))
                    {
                        <tr>
                            <td style="vertical-align:middle">@item.AttributeName</td>
                            <td style="vertical-align:middle;">@item.AttributeValue</td>
                            <td style="vertical-align:middle;">@item.DisplayOrder</td>
                            <td style="vertical-align:middle; text-align:right">
                                <a class="btn btn-xs btn-primary" href="~/Product/Attribute/@Model.ProductID?method=edit&attributeId=@item.AttributeID">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-xs btn-danger" href="~/Product/Attribute/@Model.ProductID?method=delete&attributeId=@item.AttributeID" onclick="return confirm('Xóa thuộc tính này của mặt hàng?')">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>    
    </div>
}


@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"></script>
    <script>
        $('.number-separator').inputmask({
            alias: "numeric",
            groupSeparator: ",",       // Dấu phẩy phân cách phần nghìn
            autoGroup: true,           // Tự động thêm dấu phân cách
            digits: 0,                 // Không có chữ số thập phân
            removeMaskOnSubmit: true   // Loại bỏ ký tự phân cách phần nghìn khi submit form
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.form-control.number-separator').css('text-align', 'left');
        });
    </script>

}

