@model SV21T1020742.Web.Models.ProductSearchInput
@{
    ViewBag.Title = "Quản lý mặt hàng";
}
<div class="box box-primary">
    <div class="box-body">
        <!-- Form đầu vào tìm kiếm -->
        <form id="frmSearchInput" action="~/Product/Search" method="get">

            <input type="hidden" name="@nameof(Model.PageSize)" value="@Model.PageSize" />

            <div class="row">
                <div class="col-sm-3">
                    <label>Loại hàng:</label>
                    <select name="@nameof(Model.CategoryID)" class="form-control select2">
                        <option value="">--Chọn loại hàng--</option>
                        @foreach (var item in SV21T1020742.BusinessLayers.CommonDataService.ListOfCategories())
                        {
                            if (item.CategoryID == Model.CategoryID)
                            {
                                <option value="@item.CategoryID" name="@nameof(Model.CategoryID)" selected>@item.CategoryName</option>
                            }
                            else
                            {
                                <option value="@item.CategoryID">@item.CategoryName</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                    <label>Nhà cung cấp:</label>
                    <select name="SupplierID" class="form-control select2">
                        <option value="">--Chọn nhà cung cấp--</option>
                        @foreach (var item in SV21T1020742.BusinessLayers.CommonDataService.ListOfSuppliers())
                        {
                            if (item.SupplierID == Model.SupplierID)
                            {
                                <option value="@item.SupplierID" name="@nameof(Model.SupplierID)" selected>@item.SupplierName</option>
                            }
                            else
                            {
                                <option value="@item.SupplierID">@item.SupplierName</option>
                            }
                        }


                    </select>
                </div>
                <div class="col-sm-1">
                    <label>Giá từ:</label>
                    <input type="text" class="form-control number-separator" name="@nameof(Model.MinPrice)"
                           value="@Model.MinPrice" >
                </div>
                <div class="col-sm-1">
                    <label>đến:</label>
                    <input type="text" class="form-control number-separator" name="@nameof(Model.MaxPrice)" value="@Model.MaxPrice">
                </div>
                <div class="col-sm-4">
                    <label>Tên mặt hàng cần tìm:</label>
                    <div class="input-group">
                        <input type="text" 
                               class="form-control" placeholder="Nhập mặt hàng hàng cần tìm"
                               name="@nameof(Model.SearchValue)"
                               value="@Model.SearchValue" autofocus>
                        <div class="input-group-btn">
                            <button class="btn btn-info" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <a href="/Product/Create" class="btn btn-primary" style="margin-left:5px">
                                <i class="fa fa-plus"></i> Bổ sung
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--hiển thị kết quả-->
        <div id="searchResult">
        </div>
    </div>
</div>


@section scripts {
    <script>
        function doSearch(page) {
            var searchCondition = $("#frmSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });

            var action = $("#frmSearchInput").prop("action");
            var method = $("#frmSearchInput").prop("method");

            $.ajax({
                url: action,
                type: method,
                data: searchCondition,
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });
        }

        $(document).ready(function () {
            doSearch(@Model.Page);
            $("#frmSearchInput").submit(function (e) {
                e.preventDefault();
                doSearch(1);
            })
        })

    </script>
}